documentacao/fluxos-n8n/GET order Woo -_ Update order Bling (1).json
{
  "name": "GET order Woo -> Update order Bling",
  "nodes": [
    {
      "parameters": {
        "url": "=https://pastificiozilli.com.br/wp-json/wc/v3/orders/{{ $json.numeroLoja }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wooCommerceApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        720
      ],
      "id": "1a13b7fa-367a-4597-81fb-3a4c8a1d2fb2",
      "name": "Pega Detalhes Pedidos",
      "credentials": {
        "oAuth2Api": {
          "id": "mLiAy28UdSQMgq2Z",
          "name": "Bling - Order from bling"
        },
        "wooCommerceApi": {
          "id": "lbhKssyLvptdzTjN",
          "name": "WooCommerce account"
        }
      }
    },
    {
      "parameters": {
        "content": "**HTTP request**\n\nConsulta detalhes do pedido no woocommerce para receber dados de entrega.",
        "height": 368,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        560
      ],
      "typeVersion": 1,
      "id": "44adb7e6-e63e-436e-bef5-37c52fdcf457",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44ca07e5-6355-47f8-b4c9-9736b34a54b8",
              "name": "numeroLoja",
              "value": "={{ $json.data.numeroLoja.split('_')[0] }}",
              "type": "string"
            },
            {
              "id": "7c879367-c351-482b-ba13-fbd2b48286a1",
              "name": "data.id",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        720
      ],
      "id": "a5e6d27f-96df-4dd4-9c6e-237e81d2506f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "**Edit Fields**\n\nEdita o número do pedido pra conseguir consultar no próximo nó.",
        "height": 368,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        560
      ],
      "typeVersion": 1,
      "id": "f558117b-b17c-421a-9944-87b0d021e681",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/pedidos/vendas/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.BLING_KEY}}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        336
      ],
      "id": "103da244-ba9d-448f-960b-aec62dfabe42",
      "name": "Pega Detalhes Bling",
      "credentials": {
        "oAuth2Api": {
          "id": "mLiAy28UdSQMgq2Z",
          "name": "Bling - Order from bling"
        }
      }
    },
    {
      "parameters": {
        "content": "**HTTP request**\n\nAtualiza pedido no Bling",
        "height": 368,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        352
      ],
      "typeVersion": 1,
      "id": "16abd66f-8d84-4adc-8dba-9ebb40335ac0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**HTTP request**\n\nConsulta detalhes do pedido do bling para ter dados completos.",
        "height": 368,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        160
      ],
      "typeVersion": 1,
      "id": "cc55ee95-b38a-4a21-bfc1-bb10e769cef2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        512
      ],
      "id": "1f296220-e09e-44dc-bd7e-b78f0e320c9b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Code node (depois dos 2 GETs: Woo + Bling)\n//\n// Saída: [{ data: <vendaCompletaAtualizada> }]\n// Para o PUT no Bling, envie {{$json.data}} como body e use {{$json.data.id}} na URL.\n\nfunction normalizeSlot(raw) {\n  const s = String(raw ?? \"\").trim().toLowerCase();\n\n  // aceita já vir pronto\n  if ([\"manha\", \"tarde\", \"noite\", \"feira\"].includes(s)) return s;\n\n  // aceita vir como faixa antiga\n  if (s.includes(\"09:30\") && s.includes(\"11:30\")) return \"manha\";\n  if (s.includes(\"13:00\") && s.includes(\"15:00\")) return \"tarde\";\n  if (s.includes(\"19:00\") && s.includes(\"21:00\")) return \"noite\";\n\n  return \"\"; // sem fallback\n}\n\n// --- Woo (pedido) ---\nconst woo = $('Pega Detalhes Pedidos').item.json;\n\n// meta_data => objeto\nconst meta = Object.fromEntries((woo.meta_data ?? []).map(m => [m.key, m.value]));\n\n// data prevista (Woo já está em ISO \"YYYY-MM-DD\")\nconst deliveryDate = meta.delivery_date ?? \"\";   // ex.: \"2026-01-27\"\n\n// agora delivery_time deve ser: \"manha\" | \"tarde\" | \"noite\" | \"feira\"\nconst slotRaw = meta.delivery_time ?? \"\";        // ex.: \"manha\"\nconst slot = normalizeSlot(slotRaw);\n\n// --- Bling (venda completa) ---\nconst blingWrap = $('Pega Detalhes Bling').item.json;\nconst venda = blingWrap.data;\n\n// sobrescreve somente os campos desejados\nif (deliveryDate) venda.dataPrevista = deliveryDate;   // sem fallback\nif (slot) venda.observacoes = slot;                    // manha/tarde/noite/feira\n\n// opcional: limpar campo antigo pra não ficar lixo\nvenda.observacoesInternas = \"\";\n\nreturn [{ data: venda }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        512
      ],
      "id": "ca6960d4-f5a0-458b-9ed3-0f51bb6f06b8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.bling.com.br/Api/v3/pedidos/vendas/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.BLING_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.data }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        512
      ],
      "id": "e6944ab7-35a9-4d46-b563-b2a0ebc5e608",
      "name": "Atualiza pedido bling",
      "credentials": {
        "oAuth2Api": {
          "id": "mLiAy28UdSQMgq2Z",
          "name": "Bling - Order from bling"
        }
      }
    },
    {
      "parameters": {
        "content": "**Merge**\n\nUne as requisições em um único item, só para garantir que ambas tenham terminado antes do nó code a seguir.",
        "height": 368,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        352
      ],
      "typeVersion": 1,
      "id": "259fcc3a-f050-4dc0-8684-e4066899d12a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "**Code**\n\nSubstitui os campos do Bling: dataPrevista e observacoes para conter data prevista, horário de entrega e modalidade de entrega.\nParametriza o horário para: manhã, tarde, noite ou feira.",
        "height": 496,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        224
      ],
      "typeVersion": 1,
      "id": "79e0aff5-b459-4b4b-b625-1e4b03ba7ae4",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Mfpot6xLnO8cQqbkZlRny",
          "mode": "list",
          "cachedResultUrl": "/workflow/Mfpot6xLnO8cQqbkZlRny",
          "cachedResultName": "Notificação: Pedido Bling -> Discord"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "bling_order_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        816
      ],
      "id": "4743c00b-2216-442f-af02-2619bd215a00",
      "name": "Call 'Notificação: Pedido Bling -> Discord'",
      "executeOnce": false
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        176,
        480
      ],
      "id": "1f5f2642-7d33-4235-a319-59eeb213b18f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "**Call workflow**\n\nAcionado pelo fluxo Get orders Bling.",
        "height": 368,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        320
      ],
      "typeVersion": 1,
      "id": "41cd3212-953f-44b1-8189-e56288c26429",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "data": {
            "id": 25142641732,
            "numero": 5753,
            "numeroLoja": "15968_15968",
            "data": "2026-02-22",
            "dataSaida": "2026-02-22",
            "dataPrevista": "2026-02-23",
            "totalProdutos": 260,
            "total": 260,
            "contato": {
              "id": 15176667985,
              "nome": "cynthia juruena",
              "tipoPessoa": "F",
              "numeroDocumento": "00545428041"
            },
            "situacao": {
              "id": 6,
              "valor": 0
            },
            "loja": {
              "id": 203550641,
              "unidadeNegocio": {
                "id": 566090
              }
            },
            "numeroPedidoCompra": "",
            "outrasDespesas": 0,
            "observacoes": "manha",
            "observacoesInternas": "",
            "desconto": {
              "valor": 0,
              "unidade": "REAL"
            },
            "categoria": {
              "id": 10646576489
            },
            "notaFiscal": {
              "id": 0
            },
            "tributacao": {
              "totalICMS": 0,
              "totalIPI": 0
            },
            "itens": [
              {
                "id": 19177824338,
                "codigo": "LASANHA05",
                "unidade": "UN",
                "quantidade": 1,
                "desconto": 0,
                "valor": 65,
                "aliquotaIPI": 0,
                "descricao": "Lasanha de Costela",
                "descricaoDetalhada": "",
                "produto": {
                  "id": 13783018689
                },
                "comissao": {
                  "base": 0,
                  "aliquota": 0,
                  "valor": 0
                },
                "naturezaOperacao": {
                  "id": 0
                }
              },
              {
                "id": 19177824339,
                "codigo": "LASANHA01",
                "unidade": "UN",
                "quantidade": 1,
                "desconto": 0,
                "valor": 60,
                "aliquotaIPI": 0,
                "descricao": "Lasanha Bolonhesa",
                "descricaoDetalhada": "",
                "produto": {
                  "id": 10647331647
                },
                "comissao": {
                  "base": 0,
                  "aliquota": 0,
                  "valor": 0
                },
                "naturezaOperacao": {
                  "id": 0
                }
              },
              {
                "id": 19177824340,
                "codigo": "RECHEADA07",
                "unidade": "UN",
                "quantidade": 1,
                "desconto": 0,
                "valor": 45,
                "aliquotaIPI": 0,
                "descricao": "Ravioli de Boeuf Bourguignon",
                "descricaoDetalhada": "",
                "produto": {
                  "id": 15652716695
                },
                "comissao": {
                  "base": 0,
                  "aliquota": 0,
                  "valor": 0
                },
                "naturezaOperacao": {
                  "id": 0
                }
              },
              {
                "id": 19177824341,
                "codigo": "RECHEADA20",
                "unidade": "UN",
                "quantidade": 1,
                "desconto": 0,
                "valor": 55,
                "aliquotaIPI": 0,
                "descricao": "Ravioli de Cordeiro com Mascarpone",
                "descricaoDetalhada": "",
                "produto": {
                  "id": 16146806177
                },
                "comissao": {
                  "base": 0,
                  "aliquota": 0,
                  "valor": 0
                },
                "naturezaOperacao": {
                  "id": 0
                }
              },
              {
                "id": 19177824342,
                "codigo": "NHOQUE02",
                "unidade": "UN",
                "quantidade": 1,
                "desconto": 0,
                "valor": 35,
                "aliquotaIPI": 0,
                "descricao": "Nhoque de Mandioquinha Salsa",
                "descricaoDetalhada": "",
                "produto": {
                  "id": 15860037890
                },
                "comissao": {
                  "base": 0,
                  "aliquota": 0,
                  "valor": 0
                },
                "naturezaOperacao": {
                  "id": 0
                }
              }
            ],
            "parcelas": [
              {
                "id": 18924283326,
                "dataVencimento": "2026-03-24",
                "valor": 260,
                "observacoes": "Total Parcelas: 1 | Método pagamento: Cartão de Crédito | Pedidos Vinculados: 15968_15968",
                "caut": "",
                "formaPagamento": {
                  "id": 1377540
                }
              }
            ],
            "transporte": {
              "fretePorConta": 0,
              "frete": 0,
              "quantidadeVolumes": 1,
              "pesoBruto": 0,
              "prazoEntrega": 0,
              "contato": {
                "id": 0,
                "nome": ""
              },
              "etiqueta": {
                "nome": "cynthia juruena",
                "endereco": "Rua Pedro Rolim De Moura",
                "numero": "45",
                "complemento": "31A",
                "municipio": "Curitiba",
                "uf": "PR",
                "cep": "80030250",
                "bairro": "",
                "nomePais": ""
              },
              "volumes": []
            },
            "vendedor": {
              "id": 0
            },
            "intermediador": {
              "cnpj": "",
              "nomeUsuario": ""
            },
            "taxas": {
              "taxaComissao": 0,
              "custoFrete": 0,
              "valorBase": 0
            }
          },
          "body": {
            "event": "order.created",
            "data": {
              "numeroLoja": "15968_15968"
            }
          }
        }
      }
    ]
  },
  "connections": {
    "Pega Detalhes Pedidos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Pega Detalhes Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Detalhes Bling": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Atualiza pedido bling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Notificação: Pedido Bling -> Discord'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza pedido bling": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pega Detalhes Bling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "1ZhNJUgBnkJ8PXJTlbGqk",
    "timeSavedPerExecution": 3
  },
  "versionId": "543f5a12-2332-4ef6-86e4-72100ea74edd",
  "meta": {
    "instanceId": "8f713aad88dc64c3e6b82d84105370d897b662e4807b7e419435eaa33c64320d"
  },
  "id": "EWYJBMpfKsXZvNcS",
  "tags": [
    {
      "updatedAt": "2026-01-27T01:04:24.629Z",
      "createdAt": "2026-01-27T01:04:24.629Z",
      "id": "3rmoUl65cGTHHgP3",
      "name": "Woocommerce"
    },
    {
      "updatedAt": "2026-01-20T16:32:19.842Z",
      "createdAt": "2026-01-20T16:32:19.842Z",
      "id": "V67hmcn4uOslM62P",
      "name": "Bling"
    }
  ]
}