documentacao/fluxos-n8n/Produto atualizado no Bling -_ Atualiza Supabase.json
{
  "name": "Produto atualizado no Bling -> Atualiza Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bling-produto",
        "options": {}
      },
      "id": "701af648-dba9-4630-bef8-be238cced119",
      "name": "Webhook Bling",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1312,
        848
      ],
      "webhookId": "28c0d868-8e83-4d20-8007-05dc93c2d511"
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\nfor (const item of $input.all()) {\n  const produto = item.json.body?.data || {};\n  \n  const bling_id = produto.id || null;\n  const sku = produto.codigo || null;\n  const product = produto.nome || \"Sem Nome\";\n  \n  let status = produto.situacao;\n  if (status === 'A') status = 'Ativo';\n  else if (status === 'I') status = 'Inativo';\n  else if (status === 'E') status = 'Excluído';\n\n  const type = (produto.unidade || \"\").toUpperCase() || null;\n  \n  const precoBruto = produto.preco; \n  let precoTratado = null;\n\n  if (precoBruto !== null && precoBruto !== undefined && precoBruto !== \"\") {\n    if (typeof precoBruto === 'number') {\n      precoTratado = precoBruto;\n    } else {\n      let cleanPrice = precoBruto.toString().replace(/\\./g, '').replace(',', '.');\n      precoTratado = parseFloat(cleanPrice);\n    }\n  }\n\n  result.push({\n    json: {\n      bling_id: bling_id,\n      sku: sku,\n      product: product,\n      type: type,\n      product_price: precoTratado,\n      status: status,\n      last_updated: new Date().toISOString()\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "1c15615d-2f88-477c-b971-469ab0864f91",
      "name": "Trata Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.product_price == null || isNaN($json.product_price) }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e5e135e8-ff6f-4a8b-b8e4-53d6522673ef",
      "name": "Falta Preço?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -816,
        848
      ]
    },
    {
      "parameters": {
        "url": "=https://www.bling.com.br/Api/v3/produtos/{{ $json.bling_id || $json.sku }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "blingOAuth2Api",
        "options": {}
      },
      "id": "a4145d1c-0628-4c93-a29c-d633d82007d0",
      "name": "Busca Produto no Bling API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -608,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = [];\nfor (const item of $input.all()) {\n  const produto = item.json.data || item.json;\n  const fallback = $('Trata Dados').item.json;\n  \n  const precoTratado = parseFloat(produto.preco);\n  \n  let status = produto.situacao || fallback.status;\n  if (status === 'A') status = 'Ativo';\n  else if (status === 'I') status = 'Inativo';\n  else if (status === 'E') status = 'Excluído';\n\n  const type = (produto.unidade || \"\").toUpperCase() || fallback.type;\n\n  result.push({\n    json: {\n      bling_id: produto.id || fallback.bling_id,\n      sku: produto.codigo || fallback.sku,\n      product: produto.nome || fallback.product,\n      type: type,\n      product_price: isNaN(precoTratado) ? 0 : precoTratado,\n      status: status,\n      last_updated: new Date().toISOString()\n    }\n  });\n}\nreturn result;"
      },
      "id": "1e0a6c4b-2c01-4d4c-b4ad-dec37a0edfe6",
      "name": "Extrai Preço da API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        688
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "bling_id",
              "condition": "eq",
              "keyValue": "={{ $('Limpa IDs Fantasmas1').item.json.bling_id }}"
            }
          ]
        }
      },
      "id": "f33f9127-d395-4702-929a-780f284e5649",
      "name": "Verifica Tabela Original",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        752
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ilW5vqnhknLvAC0b",
          "name": "CRM Pastaz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.id != undefined || Object.keys($json).length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f153a2c4-9efa-4971-a0b1-49f1306a033f",
      "name": "Produto Existe no BD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        256,
        752
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "bling_id",
              "condition": "eq",
              "keyValue": "={{ $('Limpa IDs Fantasmas1').item.json.bling_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bling_id",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.bling_id }}"
            },
            {
              "fieldId": "sku",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.sku }}"
            },
            {
              "fieldId": "product",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.product }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.type }}"
            },
            {
              "fieldId": "product_price",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.product_price }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.status }}"
            },
            {
              "fieldId": "last_updated",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.last_updated }}"
            }
          ]
        }
      },
      "id": "2e8f996f-c0a1-42fd-872b-7de77e99280b",
      "name": "Supabase UPDATE",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        624
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ilW5vqnhknLvAC0b",
          "name": "CRM Pastaz"
        }
      }
    },
    {
      "parameters": {
        "tableId": "products",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bling_id",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.bling_id }}"
            },
            {
              "fieldId": "sku",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.sku }}"
            },
            {
              "fieldId": "product",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.product }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.type }}"
            },
            {
              "fieldId": "product_price",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.product_price }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.status }}"
            },
            {
              "fieldId": "last_updated",
              "fieldValue": "={{ $('Limpa IDs Fantasmas1').item.json.last_updated }}"
            }
          ]
        }
      },
      "id": "6cbd22c2-a543-4eec-ab25-308139ebb46b",
      "name": "Supabase INSERT",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        880
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ilW5vqnhknLvAC0b",
          "name": "CRM Pastaz"
        }
      }
    },
    {
      "parameters": {
        "tableId": "product_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "bling_id",
              "fieldValue": "={{ $json.bling_id }}"
            },
            {
              "fieldId": "sku",
              "fieldValue": "={{ $json.sku }}"
            },
            {
              "fieldId": "product",
              "fieldValue": "={{ $json.product }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.type }}"
            },
            {
              "fieldId": "product_price",
              "fieldValue": "={{ $json.product_price }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "last_updated",
              "fieldValue": "={{ $json.last_updated }}"
            }
          ]
        }
      },
      "id": "5ab4cd22-b2f9-408f-a7b8-594f205c1dc0",
      "name": "Supabase INSERT Histórico",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        752
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ilW5vqnhknLvAC0b",
          "name": "CRM Pastaz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.bling_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7ed99958-1815-41f6-a797-84575815e51f",
      "name": "Limpa IDs Fantasmas1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -176,
        864
      ]
    }
  ],
  "pinData": {
    "Webhook Bling": [
      {
        "json": {
          "headers": {
            "host": "n8n.pastificiozilli.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "34.193.190.53, 162.158.155.121",
            "x-real-ip": "162.158.155.121",
            "content-length": "411",
            "user-agent": "bling-webhook",
            "accept-encoding": "gzip, br",
            "x-bling-signature-256": "sha256=4155a140ffea4bd75f87d3c9a3f0f52ce963516ed44be9457d8d6f129cd24682",
            "cf-ray": "9d0f960d4a39435d-EWR",
            "content-type": "application/json",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "34.193.190.53",
            "cf-ipcountry": "US",
            "cf-visitor": "{\"scheme\":\"https\"}"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "019c7c03-031a-7c24-1dd8-19477a49f7f9",
            "date": "2026-02-20T17:04:58Z",
            "version": "v1",
            "event": "product.updated",
            "companyId": "4faac5b08d1d25afd834b7977acf3bab",
            "data": {
              "id": 16507134219,
              "nome": "[B2B] Ravioli de Ricota",
              "codigo": "B2B-RECHEADA-03",
              "tipo": "P",
              "situacao": "A",
              "preco": 50,
              "unidade": "kg",
              "formato": "S",
              "idProdutoPai": 0,
              "categoria": {
                "id": 2441609
              },
              "descricaoCurta": "",
              "descricaoComplementar": ""
            }
          },
          "webhookUrl": "https://n8n.pastificiozilli.com.br/webhook/bling-produto",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook Bling": {
      "main": [
        [
          {
            "node": "Trata Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Dados": {
      "main": [
        [
          {
            "node": "Falta Preço?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Falta Preço?": {
      "main": [
        [
          {
            "node": "Busca Produto no Bling API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpa IDs Fantasmas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Produto no Bling API": {
      "main": [
        [
          {
            "node": "Extrai Preço da API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Preço da API": {
      "main": [
        [
          {
            "node": "Limpa IDs Fantasmas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Tabela Original": {
      "main": [
        [
          {
            "node": "Produto Existe no BD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produto Existe no BD?": {
      "main": [
        [
          {
            "node": "Supabase UPDATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase UPDATE": {
      "main": [
        [
          {
            "node": "Supabase INSERT Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase INSERT": {
      "main": [
        [
          {
            "node": "Supabase INSERT Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa IDs Fantasmas1": {
      "main": [
        [
          {
            "node": "Verifica Tabela Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "1ZhNJUgBnkJ8PXJTlbGqk"
  },
  "versionId": "0613812a-81af-4942-b46f-0e6368b1ef63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f713aad88dc64c3e6b82d84105370d897b662e4807b7e419435eaa33c64320d"
  },
  "id": "xkIqrijFJkgOr4vmukPA-",
  "tags": [
    {
      "updatedAt": "2026-01-20T16:32:19.842Z",
      "createdAt": "2026-01-20T16:32:19.842Z",
      "id": "V67hmcn4uOslM62P",
      "name": "Bling"
    },
    {
      "updatedAt": "2026-01-20T16:32:23.683Z",
      "createdAt": "2026-01-20T16:32:23.683Z",
      "id": "lIi9XXpTQbz2nMi0",
      "name": "Supabase"
    }
  ]
}